body{
    padding-top: 70px;
}

#alloy-logo {
    margin-top: -15px;
    width: 50px;
    height:50px;
}

#editor, #visualizer {
    cursor: pointer;
}


#main_content{
    position: absolute;
    top: 50px;
    left:0px; 
    display: block;
    width: 100%;
    height:100%;
    line-height: 100%;
}

.alert{
    position: absolute;
    z-index: 1000;
    top: 90px;
    left: 12%;
    width: 75%;
}

.fill > * {
    display: inline-block;
    width: 100%;
}
.small {
    font-size: 10pt;
}

.invisible {
  display: none;  
}

.multiedit-nav-toggle{
  font-size: 25px;
  color: white;
  padding: .5em; 
  border-radius: 25px;
  background-color: #31b0d5; 
  position: fixed;
  bottom: 50px;
  right: 50px;
  border: none;
}

.popover {
    max-width: 100%;
}

.sig_selector {
    display: table;
    width: 100%;
}
.sig_selector > label {
    display: table-row;
}
.sig_selector > label:hover{
    background-color: rgba(127, 127, 127, .1);
}
.sig_selector > label > * {
    display: table-cell;
    padding-left: 1em;
    padding-right: 1em;
}
.sig_selector > label > input[type='checkbox'] {
    text-align: right;
}

.popover-content select,
.popover-content input {
    height   : 18px;
    font-size: 8pt;
    vertical-align: middle;
    line-height: 18px;
}

.glyphicon {
    cursor: pointer;
}

.nav-pills.gray > li:not(.active) > a {
  color: #777777;
}
.nav-pills.gray > li:not(.active) > a:hover {
  color: black;
  background-color: transparent;
}

.nav-pills.gray > li.active,
.nav-pills.gray > li.active > a,
.nav-pills.gray > li.active > a:hover,
.nav-pills.gray > li.active > a:focus {
  color: black;
  background-color: #e8e8e8;
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}