body{
    padding-top: 70px;
}

#alloy-logo {
    margin-top: -15px;
    width: 50px;
    height:50px;
}

#editor-tab, 
#visualizer-tab {
    cursor: pointer;
}

#text_editor, 
#graph{
    display: inline-block;
    width  : 100%;
    height : calc(100% - 100px); // 100px because 50 at the top and 50 at bottom
    margin : 0;
}

#editor-choice {
    display: inline-block;
    width: 200px;
    height: 100%;
    vertical-align: top;
}

.tab-content{
    position: absolute;
    top: 50px;
    left:0px; 
    display: block;
    width: 100%;
    height:100%;
    line-height: 100%;
}

.alert{
    position: absolute;
    z-index: 1000;
    top: 90px;
    left: 12%;
    width: 75%;
}

.fill > * {
    display: inline-block;
    width: 100%;
}
.small {
    font-size: 10pt;
}
.popover {
    max-width: 100%;
}

.sig_selector {
    display: table;
    width: 100%;
}
.sig_selector > label {
    display: table-row;
}
.sig_selector > label:hover{
    background-color: rgba(127, 127, 127, .1);
}
.sig_selector > label > * {
    display: table-cell;
    padding-left: 1em;
    padding-right: 1em;
}
.sig_selector > label > input[type='checkbox'] {
    text-align: right;
}

.popover-content select,
.popover-content input {
    height   : 18px;
    font-size: 8pt;
    vertical-align: middle;
    line-height: 18px;
}

.glyphicon {
    cursor: pointer;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}