body{
    padding-top: 70px;
}

#editor-tab, 
#visualizer-tab {
    cursor: pointer;
}

#text_editor, 
#graph{
    /* Don't change this absolute value: it is required by ACE editor */
    position: absolute;
    top    : 50px;
    left   : 0;
    width  : 100%;
    height : calc(100% - 50px);
    margin : 0;
}

.tab-content{ 
    display: none;
    width: 100%;
    height:100%;
}

.alert{
    position: absolute;
    z-index: 1000;
    top: 90px;
    left: 12%;
    width: 75%;
}


//
.sig_selector {
    display: table;
    width: 100%;
}
.sig_selector > label {
    display: table-row;
}
.sig_selector > label:hover{
    background-color: rgba(127, 127, 127, .1);
}
.sig_selector > label > * {
    display: table-cell;
    padding-left: 1em;
    padding-right: 1em;
}
.sig_selector > label > input[type='checkbox'] {
    text-align: right;
}